header{
    height: 25vh;
    background-color: chocolate;
}
nav{
    height: 15vh;
    background-color: aquamarine;
}
section{
    height: 50vh;
}
footer{
    height: 10vh;
    background-color: blueviolet;
}
#uno{
    background-color: cadetblue;
}
#dos{
    background-color: coral;
}
#tres{
    background-color: crimson;
}