section{
    height: auto;
    /* background-color: #6DCCAA; */
    background-color: blueviolet;
}
nav{
    background-color: brown;
}
footer{
    background-color: crimson;
}
#vegan{
    text-align: center;
}
#texto_encabezado_vegan{
    color: cadetblue;
}
#encabezado_crudo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: aqua;
}
#barra_menu{
    height: auto;
}
#menu{
    text-align: center;
    height: auto;
    
}
#menu a{
    text-decoration: none;
    color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#barra_menu{
    background-color: chartreuse;
    text-align: center;
    
}